.spin__btn {
    background-color: var(--button-bg);
    color: var(--button-text);
    font-weight: bold;
    font-size: 3rem;
    padding: 55px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.spin__btn:hover {
    filter: brightness(1.12);
}

.spin__btn:active {
    filter: brightness(0.9);
}

#spin-btn {
    touch-action: none;
    user-select: none;
    cursor: ew-resize;
}

#reset-btn {
    background-color: var(--button-bg);
    color: var(--button-text);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 15px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

#reset-btn:hover {
    filter: brightness(1.12);
}

#reset-btn:active {
    filter: brightness(0.9);
}